@import 'theme';

html {
    background-color: $main-background;
    padding: 0%;
    font-size: 1em;
    margin-left: 0em;
    margin-right: 0em;
    font-family: 'Philosopher', sans-serif;
    color: $default-font;
}

#DisplayDiv {
    background-color: $main-background
}

html, #languagebuttons_Box button, #profile_Content table {
    font-size: 0.9em;
}

body {
    width: auto;
    height: auto;
    margin: 0em 0em 0em 0em;
    padding: 0;
}

#loading {
    color: $default-font;
    float: none;
    text-align: center;
    width: auto;
    height: 10%;
    margin: auto;
    padding: auto;
    padding-top: 1em;
    background-color: $block-background;
}

#HeaderDiv {
    /*background-image: url(../../dist/assets/webpack-screengrap.png;
    background-size: cover;
    */
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    float: left;
}

#Content {
    height: auto;
    width: 78%;
    padding: 0 2em 0 2em;
    margin-left: auto;
    float: none;
    margin-right: auto;
}

p {
    white-space: pre-line;
    width: 80%;
}

@media screen and (max-width: 560px){
    #Content {
        margin: 0em;
        padding: 0em;
        width: 100%;
        float: left;
        height: auto;
    }
}

#languagebuttons_Box {
    width: 100%;
    height: auto;
    float: left;
    background-color: $button-color;
    margin: 0 0px 1em 0px;
    padding: 0;
}

#languagebuttons_Box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

#languagebuttons_Box li {
    display: inline;
    margin: 0;
    padding: 0;
}

#languagebuttons_Box button {
    padding: 0.5em;
    padding-right: 5em;
    color: $button-link-color;
    background-color: $button-color;
    margin-top: 0.25em;
}

@media screen and (max-width: 560px ){
    #languagebuttons_Box ul {
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }
    #languagebuttons_Box li {
        list-style: none;
        width: 100%;
        text-align: center;
    }
    #languagebuttons_Box button {
        width: 100%;
        margin: 0;
        padding: 0.5em 0 0.5em 0px;
        text-align: center;
        float: left;
        font-size: 0.8em;
    }
}

#header_Box {
    width: 100%;
}

#header_Box h1 {
    color: white;
    float: none;
    font-weight: bold;
    text-shadow: 0.5px 2px gray;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#language_select {
    float: right;
    display: block;
    height: auto;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: auto;
    width: 10em;
    background-color: $button-color;
    color: $default-font;
}

@media screen and (max-width: 560px ){
    #language_select {
        width: 90%;
        margin: auto;
        float: none;
    }
    #languagebuttons_Box select {
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 0.8em;
    }
}

#Footer_Box {
    width: 100%;
    float: left;
    height: auto;
    margin-top: 3em;
    text-align: left;
    font-style: italic;
    font-size: 0.9em;
    background-color: $block-background;
    color: $button-link-color;
    padding: 0.2em;
    bottom: 0;
    position: relative;
    margin-bottom: 2em;
    border: 0.1em solid $button-color;
}