@import 'theme';

#NavList_Box {
    width: calc(20% - 0.5em);
    height: 70%;
    float: left;
    color: $button-link-color;
    background-color: $block-background;
    margin-left: 0.1em;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 4.3em;
    border: 0.2em solid $button-color;
}

#NavList_Box ul {
    padding: 0.5em;
    margin: 0;
    list-style: none;
}

#NavList_Box li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#NavList_Box button {
    background-color: $button-color;
    padding: 0.6em;
    margin: 0;
    width: 100%;
    height: auto;
}

.NavButton {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
}

@media screen and (max-width:560px) {
    #Navlist_Box button {
        font-size: 0.8em;
        overflow: hidden;
        height: auto;
        width: 95%;
        word-break: break-all
    }
    #ContentViewer {
        font-size: 0.8em;
        word-break: normal;
    }
}

.navlist_unselected {
    background-color: $button-color;
    color: $default-font;
}

.navlist_selected {
    background-color: $nav-selected;
    color: $default-font;
}

#ContentViewer {
    height: 70%;
    width: calc(80% - 3.1em - 0.4em);
    padding: 1em;
    background-color: $block-background;
    border: solid $button-color 0.2em;
    float: left;
    display: block;
    margin-left: 1em;
    overflow-y: auto;
}

#ContentViewer h2 {
    color: white;
}

#ContentViewer {
    color: #f4f4f4;
}

#ContentViewer img {
    max-width: 70%;
    height: auto;
    margin-bottom: 5em;
    border: 0.3em solid $button-color;
}