@import 'theme';

#courses_Box {
    width: 100%;
    height: auto;
}

#courses_Box ul {
    list-style: none;
    float: left;
    width: 94%;
    padding: 3%;
    background-color: $course-div;
}

#courses_Box li {
    float: none;
    background-color: $course-box-color;
    border: 2px solid $course-box-border;
    border-radius: 7px;
}

#courses_Box a {
    float: none;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    word-break: break-all;
    text-decoration: none;
    color: $default-font;
}

#courses_Box a:hover {
    color: $link-hover;
}

@media screen and (max-width: 560px) {
    #courses_Box ul {
        display: table;
        width: 100%;
        padding: 0;
    }
    #courses_Box li {
        list-style: none;
        width: 100%;
        text-align: center;
        margin-top: 0.5em;
        display: inherit;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    }
}

/*Larger view*/

@media screen and (min-width: 560px) {
    #courses_Box ul {
        display: inline-block;
        margin-left: 0em;
    }
    #courses_Box li {
        display: inline-flex;
        float: none;
        width: 20%;
        margin-right: 2em;
        margin-bottom: 1em;
        padding: 1em;
        height: auto;
    }
}