@import "custom";
@import "~bootstrap/scss/bootstrap";

$border-color: transparent;

.alert-danger {
    width: 100%;
}

#header {
    box-sizing: content-box;
}

#gallery_Box {
    width: 100%;
    display: block;
    float: left;
    height: -moz-fit-content;
    border: 1px solid $border-color;
}

#slider_imageBox {
    position: relative;
    display: block;
    float: none;
    margin: auto;
    width: -moz-fit-content;
}

#gallery_slider {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
}

#gallery_slider_left, #gallery_slider_right {
    height: 100%;
    border: 1px solid $border-color;
    width: 20%;
    min-width: 60px;
    opacity: 0;
    background-color: #e8f2f8;
}

#gallery_slider_left {
    float: left;
    position: absolute;
}

#gallery_slider_right {
    float: right;
    top: 0;
    right: 0;
    position: absolute;
}

.gallery_image {
    height: 200px;
    margin: auto;
    float: none;
    display: block;
    width: 100%;
}

#gallery_paginator {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
}

.row {
    margin: 0;
}