@import 'theme';

#profile_Box {
    height: auto;
    width: 100%;
    float: left;
    background-color: $block-background;
    padding-top: 1em;
    margin-bottom: 1em;
    border: 0.1em solid $button-color;
}

.profile_img {
    width: 200px;
    height: 200px;
}

.eLink_Image {
    max-width: 3em;
    margin-bottom: 1em;
    margin-right: 1em;
}

#externalLinks_Box ul {
    list-style: none;
    display: flex;
}

@media screen and (max-width: 560px) {
    #Profile_Box {
        display: block;
    }
    .profile_img {
        width: 60%;
        height: auto;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: block;
    }
    #profile_Content {
        float: left;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        word-break: break-all;
    }
}

@media screen and (min-width: 560px) {
    #Profile_Box {
        display: flex;
        height: 30%;
    }
    .profile_img {
        width: 25%;
        height: 75%;
        float: left;
        display: block;
        margin-left: 15px;
        margin-bottom: 15px;
        min-width: 250px;
    }
    #profile_Content {
        float: left;
        width: auto;
        height: 100%;
        display: block;
        margin-left: 15px;
    }
}

