@import 'theme';

#tabulator_main {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

#tabulator_options_Box {
    background-color: $button-color;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#tabulator_options_Box ul {
    margin: 0;
    padding: 0;
    float: left;
}

#tabulator_options_Box li {
    list-style: none;
    display: inline;
}

#tabulator_options_Box button {
    padding: 0.5em;
    margin: 0em;
    width: auto;
    background-color: $button-color;
    color: $default-font;
}

@media screen and (max-width: 560px) {
    #tabulator_options_Box ul {
        float: left;
        width: 100%;
        margin: 0;
    }
    #tabulator_options_Box li {
        list-style: none;
        border: 1px solid $button-selected;
        width: 100%;
        text-align: center;
    }
    #tabulator_options_Box button {
        width: 100%;
        margin: 0;
        float: left;
        font-size: 0.8em;
    }
    #shownContent {
        font-size: 0.8em;
        padding: 1em;
    }
}

#skills_Box h1 {
    font-size: 1.2em;
}

#shownContent {
    border: 0.1em solid $button-color;
    padding: 1em 0em 1em 1em;
    margin: 0;
    float: left;
    display: block;
    background-color: $block-background;
    width: 100%;
}