$main-background: #1F1F1F;
$default-font: black;
$block-background: #5C6B73;
$button-color: #9DB4C0;
$button-link-color: #1F1F1F;
$button-selected: red;

$nav-selected: #9DB4C0;

$link-hover: #61892F;

$course-div: #5C6B73;
$course-box-font: black;
$course-box-color: #9DB4C0;
$course-box-border: #5C6B73;